<?xml version="1.0" encoding="UTF-8"?>
<config>
<modules>
    <Kishore_Kp>
        <version>1.0.0</version>
    </Kishore_Kp>
</modules>
<global>
    <helpers>
        <kishore_kp>
            <class>Kishore_Kp_Helper</class>
        </kishore_kp>
    </helpers>
</global>
<frontend>
    <routers>
        <kishore_kp>
            <use>standard</use>
            <args>
                <module>Kishore_Kp</module>
                <frontName>kpswitcher</frontName>
            </args>
        </kishore_kp>
    </routers>
</frontend>
</config>